<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="bluetooth"></ion-icon> Device list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="min-height: 80vh;">

    <ion-card class="ion-margin-top">
      <ion-card-content style="display: grid; place-items: center;">
        <ion-button class="ion-text-center" id="open-modal" expand="block" (click)="scanForBluetoothDevices()" [disabled]="bluetoothIsScanning">
          <ion-title>
            Find nearby <ion-icon name="bluetooth"></ion-icon>  Devices </ion-title>
        </ion-button>
      </ion-card-content>
      
      <ion-card-content>
        <ion-list *ngIf="bluetoothScanResults.length >= 0">
          <ion-item *ngFor="let device of bluetoothScanResults">
            {{ device.device.name ?? device.device.deviceId }}
          </ion-item>
        </ion-list>
      </ion-card-content>

      <ion-item class="ion-text-center" *ngFor="let device of bluetoothScanResults">
        <ion-button  color="secondary"> cancel</ion-button>
        <ion-button color="secondary"> Connect</ion-button>
      </ion-item>
    </ion-card> 
  
</ion-content>
