<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="bluetooth"></ion-icon> Device list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="min-height: 80vh;">

    <ion-card class="ion-margin-top">
      <ion-card-content style="display: grid; place-items: center;">
        <ion-button class="ion-text-center" id="open-modal" expand="block" (click)="scanForBluetoothDevices()" [disabled]="bluetoothIsScanning">
          <ion-title>
            Find nearby <ion-icon name="bluetooth"></ion-icon>  Devices </ion-title>
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-button  color="primary" (click)="readData()"> Read</ion-button>
    <ion-button  color="primary" (click)="writeData()"> Write Data</ion-button>

    
    <ion-list>
      <ion-list-header class="ion-text-center">
        Connected Device
      </ion-list-header>
      <ion-item-sliding>
          <ion-item (click)="toggleInputField()" >
            <ion-label>{{bluetoothConnectedDevice}}</ion-label>
          </ion-item>
            <ion-input [(ngModel)]="userInput" #inputField label="Type message to send" label-placement="floating" fill="outline" placeholder="Enter text" *ngIf="inputVisible"></ion-input>
            <ion-button (click)="writeData()" #sendButton expand="full" *ngIf="inputVisible">Send</ion-button>
          <ion-item-options side="end">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
      </ion-item-sliding>
      <ion-item>
        
      </ion-item>
    </ion-list>
    
    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-toolbar>
          <ion-title>Nearby  
            <ion-icon name="bluetooth"> </ion-icon>
            device 
          </ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-content>
          
          <ion-list *ngIf="bluetoothScanResults.length > 0">
            <ion-list-header>
              Click to connect with the device
            </ion-list-header>
            <ion-radio-group>
              <ion-item  [id]="device.device.deviceId" value="space-between" *ngFor="let device of bluetoothScanResults" >
                <ion-item  class="ion-padding" (click)="connectToBluetoothDevice(device.device)">
                    <ion-icon name="bluetooth"> </ion-icon>
                   <p>{{device.localName ?? device.device.deviceId }} </p>
                </ion-item>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-content>
        <ion-item class="ion-text-center">
          <ion-button  color="secondary" (click)="modal.dismiss()"> cancel</ion-button>
        </ion-item>
      </ng-template>
    </ion-modal>
   
    <ion-text class="ion-text-center"><h2>Incoming Data</h2></ion-text>
    <ion-text color="success" class="ion-text-center"><h4>{{incomingData}}</h4></ion-text>

</ion-content>
